@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Passion+One&family=Raleway:wght@300;400&display=swap');
$white: #ebebeb;
$gray: #232323;
$yellow: #ffc107;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway';
}

body {
  font-size: 62.5%;
  background-color: $gray;
  color: $white;
}
